#chatbot {
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    overflow: hidden; /* Garante que cantos arredondados funcionem nos filhos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    /* padding: 0; */
}

#chatbot_messages {
    display: flex;
    flex-direction: column;
    height: 450px;
    overflow-y: auto;
    padding: 0.5rem;
}

#bot_message, #user_message {
    padding: 0.5em;
    margin: 0.5rem 0;
    border-radius: 5px;
    max-width: 80%;
    word-break: break-word;
}

#bot_message {
    align-self: flex-start;
}

#user_message {
    align-self: flex-end;
}

#chatbot_input {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

#chatbot_input_message {
    flex: 1;
}

@media (max-width: 576px) {
    #chatbot {
        width: 95%;
        margin: 0 auto 20px auto;
    }
}
