<% if (typeof userMessage !== 'undefined' && userMessage) { %>
    <div id="user_message" class="bg-light bg-gradient w-100">
        <%- userMessage %>
    </div>
<% } %>

<% if (typeof botMessage !== 'undefined' && botMessage) { %>
    <div id="bot_message" class="bg-success-subtle w-100">
        <%- botMessage %>
    </div>
<% } %>
