<section id="agenda" class="container my-5 min-vh-0100">
    <h2 class="mb-4 text-uppercase">Agenda de Partidas:</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      
      <!-- Card 1 -->
      <div class="col">
        <div class="card h-100 text-white bg-dark border-light">
          <div class="card-body text-center">
            <h3 class="card-title">FURIA vs NAVI</h5>
            <p class="card-text">
              <small>06/05/2025 às 21:00</small><br>
              Torneio: IEM Dallas
            </p>
            <span class="badge bg-success">Em breve</span>
          </div>
        </div>
      </div>
  
      <!-- Card 2 -->
      <div class="col">
        <div class="card h-100 text-white bg-dark border-light">
          <div class="card-body text-center">
            <h3 class="card-title">FURIA vs FaZe Clan</h5>
            <p class="card-text">
              <small>10/05/2025 às 18:30</small><br>
              Torneio: BLAST Premier
            </p>
            <span class="badge bg-success">Em breve</span>
          </div>
        </div>
      </div>
  
      <!-- Card 3 -->
      <div class="col">
        <div class="card h-100 text-white bg-dark border-light">
          <div class="card-body text-center">
            <h3 class="card-title">FURIA vs G2</h5>
            <p class="card-text">
              <small>01/05/2025 às 16:00</small><br>
              Torneio: ESL Pro League
            </p>
            <span class="badge bg-danger">Encerrado</span>
          </div>
        </div>
      </div>
  
    </div>
  </section>
  