<footer id="contato" class="
text-white
text-center
min-vh-100
d-flex flex-column
align-items-center
justify-content-start
bg-dark
p-4
">
    <h2>Contato Oficial</h2>
    <p class="lead">Siga e entre em contato com o time de CS da FURIA através dos nossos canais oficiais:</p>
    <div class="mt-4">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://twitter.com/FURIA" target="_blank" class="btn btn-outline-primary btn-lg">
            <i class="bi bi-twitter"></i> Twitter
          </a>
        </li>

        <li class="list-inline-item">
          <a href="https://www.instagram.com/furia.apparel/" target="_blank" class="btn btn-outline-danger btn-lg">
            <i class="bi bi-instagram"></i> Instagram
          </a>
        </li>

        <li class="list-inline-item">
          <a href="https://www.twitchtv.com/" target="_blank" class="btn btn-outline-success btn-lg">
            <i class="bi bi-twitch"></i> Twitch
          </a>
        </li>

        <li class="list-inline-item">
          <a href="https://www.youtube.com/" target="_blank" class="btn btn-outline-danger btn-lg">
            <i class="bi bi-youtube"></i> YouTube
          </a>
        </li>

        <li class="list-inline-item">
          <a href="#" class="btn btn-outline-info btn-lg">
            <i class="bi bi-envelope"></i> E-mail
          </a>
        </li>

        <li class="list-inline-item">
          <a href="https://www.discord.com/" target="_blank" class="btn btn-outline-secondary btn-lg">
            <i class="bi bi-discord"></i> Discord
          </a>
        </li>
      </ul>
    </div>
  </footer>