<section id="elenco" class="bg-dark text-white">
  <h2 class="
  mb-4
  p-4
  text-uppercase
  text-center
  ">Nossos Jogadores:</h2>

  <div id="carouselElenco" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a
          href="https://www.instagram.com/" target="_blank"
          class="d-flex justify-content-center"
        >
          <div class="rounded-circle bg-secondary text-center text-white d-flex align-items-center justify-content-center" style="width: 150px; height: 150px;"></div>
        </a>

        <p class="text-center mt-2">KSCERATO</p>
      </div>

      <div class="carousel-item">
        <a
          href="https://www.instagram.com/" target="_blank"
          class="d-flex justify-content-center"
        >
          <div class="rounded-circle bg-secondary text-center text-white d-flex align-items-center justify-content-center" style="width: 150px; height: 150px;"></div>
        </a>
        <p class="text-center mt-2">yuurih</p>
      </div>

      <div class="carousel-item">
        <a
          href="https://www.instagram.com/" target="_blank"
          class="d-flex justify-content-center">
          <div class="rounded-circle bg-secondary text-center text-white d-flex align-items-center justify-content-center" style="width: 150px; height: 150px;"></div>
        </a>
        <p class="text-center mt-2">arT</p>
      </div>

      <div class="carousel-item">
        <a
          href="https://www.instagram.com/" target="_blank"
          class="d-flex justify-content-center">
          <div class="rounded-circle bg-secondary text-center text-white d-flex align-items-center justify-content-center" style="width: 150px; height: 150px;"></div>
        </a>
        <p class="text-center mt-2">FalleN</p>
      </div>

      <div class="carousel-item">
        <a 
          href="https://www.instagram.com/" target="_blank"
          class="d-flex justify-content-center">
          <div class="rounded-circle bg-secondary text-center text-white d-flex align-items-center justify-content-center" style="width: 150px; height: 150px;"></div>
        </a>
        <p class="text-center mt-2">chelo</p>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselElenco" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselElenco" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>

</section>
