<section id="elenco" class="my-5">
  <h2>Elenco Atual</h2>
  <div id="carouselElenco" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
          <a href="#"><div class="rounded-circle bg-secondary text-center text-white d-flex align-items-center justify-content-center" style="width: 150px; height: 150px;">KSCERATO</div></a>
        </div>
        <p class="text-center mt-2">Kaike "KSCERATO" Cerato</p>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <a href="#"><div class="rounded-circle bg-secondary text-center text-white d-flex align-items-center justify-content-center" style="width: 150px; height: 150px;">yuurih</div></a>
        </div>
        <p class="text-center mt-2">Yuri "yuurih" Santos</p>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <a href="#"><div class="rounded-circle bg-secondary text-center text-white d-flex align-items-center justify-content-center" style="width: 150px; height: 150px;">arT</div></a>
        </div>
        <p class="text-center mt-2">Andrei "arT" Piovezan</p>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <a href="#"><div class="rounded-circle bg-secondary text-center text-white d-flex align-items-center justify-content-center" style="width: 150px; height: 150px;">FalleN</div></a>
        </div>
        <p class="text-center mt-2">Gabriel "FalleN" Toledo</p>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <a href="#"><div class="rounded-circle bg-secondary text-center text-white d-flex align-items-center justify-content-center" style="width: 150px; height: 150px;">chelo</div></a>
        </div>
        <p class="text-center mt-2">Marcelo "chelo" Céspedes</p>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselElenco" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselElenco" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</section>

<script>
  $('.carousel').carousel({
    interval: 2000 // Muda de slide a cada 2 segundos (opcional)
  })
</script>