<section class="d-flex justify-content-center align-items-center pt-5 pb-5 bg-dark bg-gradient">
    <img src="/images/furia-seeklogo.png" alt="" style="height: 200px;">
    <div class="flex-column ms-5 text-center text-white" >
        <h1> FURIA:CS</h1>
        <p>O melhor time de Conter-Strike do Brasil!</p>
    </div>
</section>