<section id="resultados" class="container my-5 min-vh-100">
    <h2 class="mb-4 text-uppercase">Resultados Recentes:</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  
      <!-- Resultado 1 -->
      <div class="col">
        <div class="card h-100 text-white bg-dark border-light">
          <div class="card-body">
            <h5 class="card-title">FURIA 16 x 12 NAVI</h5>
            <p class="card-text">
              <small>01/05/2025</small><br>
              Torneio: ESL Pro League<br>
              Mapa: Mirage
            </p>
            <span class="badge bg-success">Vitória</span>
          </div>
        </div>
      </div>
  
      <!-- Resultado 2 -->
      <div class="col">
        <div class="card h-100 text-white bg-dark border-light">
          <div class="card-body">
            <h5 class="card-title">FURIA 9 x 16 FaZe Clan</h5>
            <p class="card-text">
              <small>28/04/2025</small><br>
              Torneio: IEM Katowice<br>
              Mapa: Inferno
            </p>
            <span class="badge bg-danger">Derrota</span>
          </div>
        </div>
      </div>
  
      <!-- Resultado 3 -->
      <div class="col">
        <div class="card h-100 text-white bg-dark border-light">
          <div class="card-body">
            <h5 class="card-title">FURIA 2 x 1 G2 (MD3)</h5>
            <p class="card-text">
              <small>25/04/2025</small><br>
              Torneio: BLAST Spring<br>
              Mapas: Overpass / Nuke / Ancient
            </p>
            <span class="badge bg-success">Vitória</span>
          </div>
        </div>
      </div>
  
    </div>
  </section>
  